# macOS system files
.DS_Store

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
venv37/
env/
env37/
*.env

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Python cache files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
*.log

# IDE-specific directories
.idea/
.vscode/

